<form action="/{{_id}}?_method=PUT" method="POST" class="auth-form">
    <input type="text" name="name" placeholder="Recipe Name" value="{{recipe.name}}" />
    <input type="text" name="description" placeholder="Recipe Description" value="{{recipe.description}}" />
    <input type="text" name="ingredients" placeholder="Recipe Ingredients" value="{{recipe.ingredients}}">
    <input type="text" name="directions" placeholder="Recipe Directions" value="{{recipe.directions}}">
    <input type="submit" value="Submit" class="btn" />
</form>