<h1 class="text-white bg-primary text-center mb-3 mt-3 rounded shadow-lg">EDIT RECIPES</h1>
<form action="/{{recipe._id}}?_method=PUT" method="POST">
    <div class="form-group">
        <h5><label for="formGroupExampleInput">Recipe Name</label></h5>
        <input type="text" class="form-control" id="formGroupExampleInput" name="name" placeholder="Recipe Name"
            value="{{recipe.name}}">
    </div>
    <div class="form-group">
        <h5><label for="formGroupExampleInput2">Recipe Description</label></h5>
        <textarea class="form-control" id="formGroupExampleInput2" name="description"
            placeholder="Recipe Description">{{recipe.description}}</textarea>
    </div>
    <div class="form-group">
        <h5><label for="formGroupExampleInput">Recipe Ingredients</label></h5>
        <input type="text" class="form-control" id="formGroupExampleInput" type="text" name="ingredients"
            placeholder="Recipe Ingredients" value="{{recipe.ingredients}}">
    </div>
    <div class="form-group">
        <h5><label for="formGroupExampleInput">Recipe Directions</label></h5>
        <input type="text" class="form-control" id="formGroupExampleInput" type="text" name="directions"
            placeholder="Recipe Directions" value="{{recipe.directions}}">
    </div>
    <input type="submit" value="Submit" class="btn btn-outline-primary mt-3 btn-lg btn-block" />
</form>
<a class="btn btn-outline-primary mt-3 btn-lg btn-block" href="/">Home</a>