<div>

    <h1>Recipe</h1>

    <h2>{{recipe.name}}</h2>

    <p>
        <span>Description:</span>
        <br>
        {{recipe.description}}
    </p>

    <p>
        <span>Ingredients</span>
        <br>
        {{recipe.ingredients}}
    </p>

    <p>
        <span>Directions</span>
        <br>
        {{recipe.directions}}
    </p>

    <form action="/{{recipe._id}}?_method=DELETE" method="post">
        <input type="submit" value="DELETE">
    </form>
    <a class="edit" href="{{recipe._id}}/edit">Edit</a>
    {{!-- <form action="/{{recipe._id}}" method="get">
        <input type="submit" value="DELETE">
    </form> --}}
</div>