<div>

    <h1>Recipes</h1>
    {{#each recipes}}

    <h2><a href="/{{_id}}">{{name}}</a></h2>
    <p><span>Description:</span><br>{{description}}</p>
    <p>
        <span>Ingredients</span>
        <br>
        {{ingredients}}
        {{!-- {{#each ingredients as |ingredient|}}
        <ul>
            <li>{{ingredient}}</li>
        </ul>
        {{/each}} --}}
    </p>
    <p>
        <span>Directions</span>
        <br>
        {{directions}}
        {{!-- {{#each directions as |instructions|}}
        <ul>
            <li>{{instructions}}</li>
        </ul>
        {{/each}} --}}
    </p>
    {{/each}}
</div>

{{!-- 
{{#each recipes}}
<li>{{ingredients}}</li>
{{/each}} --}}