<div>

    <h1 class="text-white bg-primary text-center mb-3 mt-3 rounded shadow-lg">RECIPES</h1>
    <a class="btn btn-outline-primary mt-3 btn-lg mb-4" href="/new">Add a Recipe</a>

    {{#each recipes}}
    <div class="card mb-3">
        <div class="card-body">
            <h2 class="card-title">
                <a class="badge badge-primar" href="/{{_id}}">{{name}}</a>
            </h2>
            <h5 class="card-subtitle">Description</h5>
            <p class="card-text">{{description}}</p>
            <h5 class="card-subtitle">Ingredients</h5>
            <p class="card-text">{{ingredients}}</p>
            <h5 class="card-subtitle">Directions</h5>
            <p class="card-text">{{directions}}</p>
        </div>
    </div>
    {{/each}}

</div>

{{!-- 
{{#each recipes}}
<li>{{ingredients}}</li>
{{/each}} --}}